.home {
    display: flex;
    justify-content: center;
}
.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    width:30%;
    margin: 10px;
}
.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.side_cont {
    background-color: dimgrey;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.side_cont > span {
    padding-bottom: 20px;
}
.title {
    font-size: 30px;
}

@media (max-width: 771px) {
    .side_cont {
        width: 100%;
        padding: 10px;
        margin: 5px;
        margin-top: 30px;
    }
    /* .side_cont > span {
        font-size: 10px;
    } */
    .productContainer {
        width: 100%;
    }
    .about {
        font-size: 11px;
    }
    .title {
        font-size: 25px !important;
    }
    .cartContainer{
        padding: 0;
    }
    .mobileCartImg{
        width: 40%;
        height: 40%;
        object-fit: cover;
    }
    .search {
        display: none !important;
    }
    .product {
        width: 43%;
    }
    .mobileViewPrice,.mobileViewDelivery{
        font-size: 15px;
    }
    .mobileViewButton{
        font-size: 10px !important;
        width: 100%;
    }
    .mobileFlex {
        display: flex;
        justify-content: space-between;
    }
    .mobileFlexTitle {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    .mobileButton {
        width: 100%;
    }
}